<div class="left">
	<h2><%= image_tag 'tasty_logo.gif', {:alt => 'tasty.map.', :size => "150x90"} %></h2>
</div>

<div id="signin">
	<div class="left">
		<h3>tasty.map.へログイン</h3>
		<% form_tag session_path do -%>
		<div class="field">
			<%= label_tag 'ログイン' %>
			<%= text_field_tag 'login', @login %>
		</div>
		<div class="field">
			<%= label_tag 'パスワード' %>
			<%= password_field_tag 'password', nil %>
		</div>
		<div class="field">
			<%= check_box_tag 'remember_me', '1', @remember_me %>
                        <%= label_tag 'remember_me', 'パスワードを保存する。' %>
		</div>
		<div class="submit">
			<%# button_to_function 'アカウントを新規作成', "alert($('#signin_form'));" %>
			<%= submit_tag 'ログイン' %>
		</div>
		<% end %>
	</div>
</div>
<div class="left" style="margin-top:40px">
	<ul>
		<li><%= link_to 'アカウントを新規作成する。', :controller => 'signup' %></li>
		<li><%= link_to 'パスワードを忘れた？？', :controller => 'forgot_password' %></li>
	</ul>
</div>
<div class="clear"></div>
