<%-
def every(arr)
        idx=0
        while idx < arr.size
                yield(arr[idx],arr[idx+1],arr[idx+2],arr[idx+3])
                idx += 4
        end
end
-%>
<% @page_title = "写真の一覧" -%>
<div id="photos">
<table>
<%- every(@photos){|i,j,k,m| -%>
	<tr>
	<%- for photo in [i,j,k,m] -%>
	<td valign="top">
	<%- if photo -%>
		<div class="actions">
			<ul>
				<%- if not photo.created_by.nil? and photo.created_by == current_user.id -%>
				<li><%= link_to image_tag("edit.gif", :size => "16x16", :alt => "編集"), :action => 'edit', :id => photo %></li>
				<li><%= link_to image_tag("delete.gif", :size => "16x16", :alt => "削除"), { :action => 'destroy', :id => photo }, :confirm => '本気?', :method => :post %></li>
				<%- end -%>
			</ul>
		</div>
		<h2><%= h(photo.title) %></h2>
		<div style="width:180px; height:135px; text-align:center">
		<%-
			extention = File.extname(photo.filename)
			filename = File.basename(photo.filename, extention)
		-%>
		<%= link_to image_tag("/photos/#{photo.store_id}/#{filename.downcase}_s#{extention}"), {:controller => 'stores', :action => 'show', :id => photo.store_id}, {:title => photo.title}%>
		</div>
		<%= content_tag("p", h(photo.description), :class => 'description') unless photo.description.nil? or photo.description.empty?  %>
	<%- end -%>
	</td>
	<%- end -%>
	</tr>
<%- } -%>
</table>
</div>
<div class="pagenation">
<p>
<%#= link_to "&laquo;", {:page => @photo_pages.first}, {:title => '先頭へ'} unless @photo_pages.current.first? %>
<%#= link_to "&lsaquo;", {:page => @photo_pages.current.previous}, {:title => '前へ'} if @photo_pages.current.previous %>
<%#= pagination_links(@photo_pages, :window_size=>2) %>
<%#= link_to "&rsaquo;", {:page => @photo_pages.current.next}, {:title => '次へ'} if @photo_pages.current.next %>
<%#= link_to "&raquo;", {:page => @photo_pages.last}, {:title => '最後へ'} unless @photo_pages.current.last? %>
</p>
<p style="font-size:0.8em; padding: 5px 0">(<%#= @photo_pages.item_count %>件あります。)</p>
</div>

