<% @page_title = @store.name + "に写真を追加" -%>

<div class="back">
<%= link_to image_tag("up.gif", :size => "16x16", :alt => "戻る") + "もどる", :action => 'list' %>
</div>

<div id="main">
<% form_tag( {:action => 'create', :id => @photo}, :multipart => true) do %>
	<%= error_messages_for 'photo' %>
	<h2><%= @store.name %>&nbsp;<span style="font-size:0.8em">に写真を追加</span></h2>
	<div class="field">
		<%= file_field 'photo', 'photo' %>
	</div>
	<div class="field">
		<label for="photo_title">タイトル</label><br/>
		<%= text_field 'photo', 'title'  %>
	</div>
	<div class="field">
		<label for="photo_description">ノート</label><br/>
		<%= text_area 'photo', 'description',:size=>"30x5" %>
	</div>
        <%= hidden_field 'photo', 'store_id'%>
	<div class="submit">
		<%= submit_tag @store.name + "に写真を追加" %>
	</div>
<% end %>

</div>
