<div id="tasty">
<div id="tool">
<p>どの辺を中心にする？ <span style="font-size:0.8em; color:#999; font-style: italic;">例えば...東京、大阪駅、日本橋1丁目,parisみたいな感じで</span></p>
<form action="#" name="center" onsubmit="addr2latlng();return false;" method="post">
<%= text_field_tag 'center' %>
<input type="button" name="latlng" value="この辺を中心にする!!" onclick="addr2latlng();return false;" /></form></div>
</div>

<div id="list" style="width:200px; float:left; margin:0 10px">
	<h3 style="font-size:1em; background:#ccc; padding:5px; margin:10px 0; color:#fff">最近追加されたお店</h3>
	<ul style="margin: 0 10px 10px;border-bottom:1px dotted #ccc;">
	<%- for store in @stores -%>
	<li><%= link_to h(store.name), :controller => 'stores', :action => 'show', :id => store %></li>
	<% end -%>
	</ul>
</div>
<div id="map" style="width:670px; margin:30px auto; float:right;"></div>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=<%= googleapikey %>" type="text/javascript"></script>
<%= javascript_include_tag "map" %>
<script type="text/javascript">
//<![CDATA[
var map;
var geocoder = new GClientGeocoder();

function addr2latlng() {
	if("" != $("#center").val()){
		geocoder.getLatLng( $("#center").val(), mapload );
	}
}
function mapload(latlng) {
    if (GBrowserIsCompatible()) {
		var map = new GMap2(document.getElementById("map"));

		map.setCenter( new GLatLng(latlng.lat(), latlng.lng()), 12 );
		map.addControl( new GLargeMapControl() );
		map.addControl( new GMapTypeControl() );

		// markerを追加する関数
		function addMarker( map, lat, lng, name, cat, url, mixi ){
			var mkr_point = new GLatLng( lat, lng );
			var mkr = new GMarker( mkr_point );
			map.addOverlay( mkr );

			// html 作成
			var html = "<div class='info'>"+name+"<br />"+cat;
			if( url.length != 0 ){
				html += "<br /><a href="+url+" target=&uml;_blank&uml;>Webサイト</a>";
			}
			if( mixi.length != 0 ){
				html += " <a href="+mixi+" target=&uml;_blank&uml;>my mixi</a>";
			}
			html += "</div>";

			GEvent.addListener( mkr, "click", function(){
					mkr.openInfoWindowHtml( html );
				}
			);
		}

        // xml http request
        var request = GXmlHttp.create();
        request.open( "GET", "<%= url_for :controller => 'stores.xml' %>", true );
        // call back
        request.onreadystatechange = function() {
		    if( 4 == request.readyState ){
				var res = request.responseXML;
				var xmlDoc = res.documentElement;
				var markers = xmlDoc.getElementsByTagName( "marker" );

				for( var i = 0; i < markers.length; i++ ){

				    // データを読み込み
				    var mkr_lat = parseFloat( markers[i].getAttribute("lat") );
				    var mkr_lng = parseFloat( markers[i].getAttribute("lng") );
				    var mkr_name = markers[i].getAttribute("name");
				    var mkr_cat = markers[i].getAttribute("category");
				    var mkr_url = markers[i].getAttribute("url");
				    var mkr_mixi = markers[i].getAttribute("mixi");

				    addMarker( map, mkr_lat, mkr_lng, mkr_name, mkr_cat, mkr_url, mkr_mixi );

				}
		    }
        }
        request.send( null );
    }
}
window.onload = function(){
	load();
}
window.onunload = function(){
	GUnload();
}
//]]>
</script>
